### Lists Dictionaries and Tuples

In [1]:
# This is a list of numbers
first=[10,20,30,40]
#This is a list of strings
second=["Amazon", 'Flipkart', "Jabong", 'Myntra']
print(first)
print(second)

[10, 20, 30, 40]
['Amazon', 'Flipkart', 'Jabong', 'Myntra']

### The elements of a list don’t have to be the same type. The following list contains a string, a float, an integer, and (amazingly) another list

In [2]:
third=["hello", 2.0, 5, [10, 20]]
print(third)

['hello', 2.0, 5, [10, 20]]

### A list within another list is said to be nested. 
### Finally, a list with no elements is called an empty list, It is denoted [ ].

In [3]:
empty=[]
print(empty)

[]

In [4]:
print(first[0], second[1], third[2])

10 Flipkart 5

In [5]:
# Giving float as an index will give an error
print(first[1.0])

TypeError: list indices must be integers or slices, not float

### using Loop Variable: there are many ways

In [6]:
horsemen = ["war", "famine", "pestilence", "death"] 
# First way
for i in [0, 1, 2, 3]: 
    print(horsemen[i])

war
famine
pestilence
death

In [7]:
#Second way
for h in horsemen: 
    print(h)

war
famine
pestilence
death

In [8]:
#Third way
for i in range(len(horsemen)): 
    print(horsemen[i])

war
famine
pestilence
death

In [9]:
#Fourth Way
for (i, v) in enumerate(horsemen):  # enumerate gives both index and value
    print(i, v)

0 war
1 famine
2 pestilence
3 death

### Conditions in Lists

In [11]:
if 'war' in horsemen:
    print("It is there")

It is there

In [2]:
if 50 in first:
    print('It is there')

### Accesing Nested Data

In [14]:
students = [ 
    ("John", ["CompSci", "Physics"]), 
    ("Vusi", ["Maths", "CompSci", "Stats"]), 
    ("Jess", ["CompSci", "Accounting", "Economics", "Management"]), 
    ("Sarah", ["InfSys", "Accounting", "Economics", "CommLaw"]), 
    ("Zuki", ["Sociology", "Economics", "Law", "Stats", "Music"]) ] 
# Count how many students are taking CompSci 
counter = 0 
for (name, subjects) in students: 
    if "CompSci" in subjects: 
        counter += 1
print("The number of students taking CompSci is", counter)

The number of students taking CompSci is 3

### Slicing the Data

In [15]:
a_list = ["a", "b", "c", "d", "e", "f"] 
print(a_list[1:3]) 
print(a_list[:4])
print(a_list[3:])
print(a_list[:])

['b', 'c']
['a', 'b', 'c', 'd']
['d', 'e', 'f']
['a', 'b', 'c', 'd', 'e', 'f']

### The + operator concatenates lists
### The * operator repeats a list a given number of times

In [16]:
fourth=first+second
print(fourth)
fifth=first*3
print(fifth)

[10, 20, 30, 40, 'Amazon', 'Flipkart', 'Jabong', 'Myntra']
[10, 20, 30, 40, 10, 20, 30, 40, 10, 20, 30, 40]

### Mutating the List (changing element of a List)

In [17]:
my_list = ["T", "E", "S", "T"] 
my_list[2] = "X" #Changing an element
print(my_list)

['T', 'E', 'X', 'T']

In [20]:
my_list[1:3]=['O', 'S']
print(my_list)

['T', 'O', 'S', 'T']

In [21]:
my_list[1:3]=[ ]  #Assigning empty list will remove elements
print(my_list)

['T', 'T']

In [23]:
my_list[1:1]=['O', 'S'] #Adding elements to lists
print(my_list)

['T', 'O', 'S', 'T']

In [24]:
del my_list[1] #Delete first elements to lists
print(my_list)

['T', 'S', 'T']

### Objects and references

In [25]:
#For Strings
a_string = "banana" 
b_string = "banana"
a_list=[1,2,3]
b_list=[1,2,3]
print(a_string is b_string) 
print(a_list is b_list)

True
False

In [26]:
#Aliasing an Object
b_list=a_list
print(a_list is b_list)

True

#### Aliasing an Object

In [27]:
#Changes in b will make changes in a as well
b_list[1]=4
print(a_list)

[1, 4, 3]

#### Cloning an Object

In [34]:
c_list=a_list[:]
print(c_list)

[1, 4, 3]

In [35]:
# Changing c_list won't affect a_list
c_list[1]=2
print(c_list)
print(a_list)

[1, 2, 3]
[1, 4, 3]

### List Methods

In [36]:
# Appending the List
c_list.append(4)
print(c_list)

[1, 2, 3, 4]

In [37]:
# Inserting an element 5 at position 2
c_list.insert(2,5)
print(c_list)

[1, 2, 5, 3, 4]

In [38]:
# Extending the list
c_list.extend([5,6])
print(c_list)

[1, 2, 5, 3, 4, 5, 6]

In [39]:
# Counting the number of times a particular element
print(c_list.count(5))

2

In [40]:
#Finding index of first 5 in the list
print(c_list.index(5))

2

In [43]:
#reversing the List
c_list.reverse()
print(c_list)

[6, 5, 4, 3, 5, 2, 1]

In [44]:
#Sorting the list
c_list.sort()
print(c_list)

[1, 2, 3, 4, 5, 5, 6]

In [45]:
#Removing the first 5 in the list
c_list.remove(5)
print(c_list)

[1, 2, 3, 4, 5, 6]

### Function can return a list

In [3]:
def is_prime(x):
    if x < 2:
        return False
    else:
        for n in range(2,x):
            if x % n == 0:
               return False
        return True
def primes_lessthan(n): 
    """ Return a list of all prime numbers less than n. """ 
    result = [] 
    for i in range(2, n): 
        if is_prime(i): 
            result.append(i) 
    return result
r=primes_lessthan(100)
print(r)

[2, 3, 5, 7, 11, 13, 17, 19, 23, 29, 31, 37, 41, 43, 47, 53, 59, 61, 67, 71, 73, 79, 83, 89, 97]

### Lists and Strings

In [51]:
song = "The rain in Spain..." 
words = song.split() 
print(words)

['The', 'rain', 'in', 'Spain...']

In [52]:
print(song.split("ai"))

['The r', 'n in Sp', 'n...']

In [54]:
glue = ";" 
print(glue.join(words)) 
print(" --- ".join(words))

The;rain;in;Spain...
The --- rain --- in --- Spain...

#### List and Range

In [56]:
xs = list("Happy New year")
print(xs)
print("".join(xs))

['H', 'a', 'p', 'p', 'y', ' ', 'N', 'e', 'w', ' ', 'y', 'e', 'a', 'r']
Happy New year

In [57]:
# Call in the promise, to produce a list. 
print(list(range(10)))

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

### Matrices

In [58]:
mx = [[1, 2, 3], [4, 5, 6], [7, 8, 9]] 
print(mx[1])

[4, 5, 6]

In [60]:
print(mx[2][1])

8

### Tuples

##### Tuples are used for grouping data using parentheses
##### Tuples are useful for representing what other languages often call records .There is no description of what each of these fields means.
##### Tuples support the same sequence operations as strings. 
##### But if we try to use item assignment to modify one of the elements of the tuple, we get an error, i.e. 
### They are immutable like strings

In [61]:
records = ("Julia", "Roberts", 1967, "Duplicity", 2009, "Actress", "Atlanta, Georgia")
print (records)

('Julia', 'Roberts', 1967, 'Duplicity', 2009, 'Actress', 'Atlanta, Georgia')

In [63]:
#This way of assignment is not allowed and it will give error
records[4]="Eat Pray Love"
print(records)

TypeError: 'tuple' object does not support item assignment

In [62]:
# This is the way to modify the tuple by assigning again
records= records[:3] + ("Eat Pray Love", 2010) + records[5:]
print(records)

('Julia', 'Roberts', 1967, 'Eat Pray Love', 2010, 'Actress', 'Atlanta, Georgia')

In [64]:
## To create a tuple with a single element, we have to include the final comma, 
##because without the final comma, Python treats the (5) below as an integer in parentheses
tup=(5,)
type(tup)

tuple

### Tuple Packing and Unpacking

In [65]:
## Tuple Packing
b = ("Bob", 19, "CS") 
## Tuple Unpacking
(name, age, studies) = b # tuple unpacking
print(name, age, studies)

Bob 19 CS

### Tuples can be returned from a function

In [67]:
def f(r): 
    """ Return (circumference, area) of a circle of radius r """ 
    c = 2 * 3.14 * r 
    a = 3.14 * r * r 
    return (c, a)
print(f(4))

(25.12, 50.24)

## Dictionaries
#### Dictionaries are yet another kind of compound type. 
#### Python’s built-in mapping type to map keys (immutable type), to values, (heterogeneous), 
#### just like the elements of a list or tuple. 
#### One way to create a dictionary is to start with the empty dictionary and add key:value pairs. 
#### The empty dictionary is denoted {}:

In [69]:
eng2sp = {} 
eng2sp["one"] = "uno" 
eng2sp["two"] = "dos"
print(eng2sp)

{'one': 'uno', 'two': 'dos'}

#### Another Example

In [73]:
purse = dict()
purse['money'] = 12
purse['candy'] = 3
purse['tissues'] = 75
print(purse) 
print(purse['candy'])

{'money': 12, 'candy': 3, 'tissues': 75}
3

In [72]:
purse['candy'] = purse['candy'] + 2
print(purse)

{'money': 12, 'candy': 7, 'tissues': 75}

### Dictionary Operations

In [74]:
# Deleting an item
inventory = {"apples": 430, "bananas": 312, "pears": 217}
del inventory["pears"] 
print(inventory)

{'apples': 430, 'bananas': 312}

In [75]:
# Adding an item
inventory["pears"] = 0 
print(inventory)

{'apples': 430, 'bananas': 312, 'pears': 0}

In [76]:
# Changing an item
inventory["bananas"] += 200
print(inventory)

{'apples': 430, 'bananas': 512, 'pears': 0}

In [77]:
# length of dictionary
print(len(inventory))

3

In [78]:
# Making Aliases and Copy
first=inventory
second=inventory.copy()

{'apples': 430, 'bananas': 512, 'pears': 100}

In [80]:
# Now changing both and looking at effect on original
first["pears"]=100
print(inventory)
second["pears"]=200
print(inventory)
print(second)

{'apples': 430, 'bananas': 512, 'pears': 100}
{'apples': 430, 'bananas': 512, 'pears': 100}
{'apples': 430, 'bananas': 512, 'pears': 200}

#### Example to Count names in list

In [82]:
counts = dict()
names = ['Raj', 'Ramesh', 'Raj', 'Zeenat', 'Ram']
for name in names :
    if name not in counts:
        counts[name] = 1
    else :
        counts[name] = counts[name] + 1
print(counts)

{'Raj': 2, 'Ramesh': 1, 'Zeenat': 1, 'Ram': 1}

#### Example Fibonacci Series

In [92]:
alreadyknown = {0: 0, 1: 1}

def fib(n): 
    #new_value=0
    if n not in alreadyknown: 
        new_value = fib(n-1) + fib(n-2)
        alreadyknown[n]=new_value
    return alreadyknown[n]
print(fib(10))

55