In [1]:
import pandas as pd

In [2]:
import numpy as np

In [3]:
s = pd.Series([1,3,5,np.nan,6,8])

In [4]:
s

0    1.0
1    3.0
2    5.0
3    NaN
4    6.0
5    8.0
dtype: float64

In [6]:
dates = pd.date_range('20130101',periods=6)

In [7]:
dates

DatetimeIndex(['2013-01-01', '2013-01-02', '2013-01-03', '2013-01-04',
               '2013-01-05', '2013-01-06'],
              dtype='datetime64[ns]', freq='D')

In [8]:
df = pd.DataFrame(np.random.randn(6,4),index=dates,columns=list('ABCD'))

In [9]:
df

                   A         B         C         D
2013-01-01 -0.581994 -0.941112 -0.671277  0.359425
2013-01-02  0.855160 -1.252288 -1.305290 -0.504462
2013-01-03  0.214046  0.363070  2.850385  0.491894
2013-01-04  1.409693  0.649781 -0.089365 -0.367362
2013-01-05  0.719006  0.867809 -0.466640  1.048790
2013-01-06 -1.396681 -0.266610  0.781740 -1.260115

In [10]:
df2 = pd.DataFrame({ 'A' : 1.,
   ...:              'B' : pd.Timestamp('20130102'),
   ...:              'C' : pd.Series(1,index=range(4),dtype='float32'),
   ...:              'D' : np.array([3] * 4,dtype='int32'),
   ...:              'E' : 'foo' })
   ...:

In [11]:
df2

     A          B    C  D    E
0  1.0 2013-01-02  1.0  3  foo
1  1.0 2013-01-02  1.0  3  foo
2  1.0 2013-01-02  1.0  3  foo
3  1.0 2013-01-02  1.0  3  foo

In [12]:
df2.dtypes

A           float64
B    datetime64[ns]
C           float32
D             int32
E            object
dtype: object

In [13]:
df.head()

                   A         B         C         D
2013-01-01  0.830667 -1.749023  1.953359  0.128514
2013-01-02  0.023755  0.116212  1.286482 -0.234558
2013-01-03 -0.736622  1.343375  0.166983  1.070186
2013-01-04  0.462554  1.157696  0.240920  0.312763
2013-01-05 -2.120048 -0.220939 -0.689997 -0.423071

In [14]:
df.tail(3)

                   A         B         C         D
2013-01-04  0.462554  1.157696  0.240920  0.312763
2013-01-05 -2.120048 -0.220939 -0.689997 -0.423071
2013-01-06  1.448632 -0.901561 -1.699604  0.970359

In [15]:
df.describe()

              A         B         C         D
count  6.000000  6.000000  6.000000  6.000000
mean  -0.015177 -0.042373  0.209691  0.304032
std    1.267983  1.188979  1.315865  0.613290
min   -2.120048 -1.749023 -1.699604 -0.423071
25%   -0.546528 -0.731405 -0.475752 -0.143790
50%    0.243155 -0.052363  0.203952  0.220638
75%    0.738639  0.897325  1.025092  0.805960
max    1.448632  1.343375  1.953359  1.070186

In [16]:
df.T

   2013-01-01  2013-01-02  2013-01-03  2013-01-04  2013-01-05  2013-01-06
A    0.830667    0.023755   -0.736622    0.462554   -2.120048    1.448632
B   -1.749023    0.116212    1.343375    1.157696   -0.220939   -0.901561
C    1.953359    1.286482    0.166983    0.240920   -0.689997   -1.699604
D    0.128514   -0.234558    1.070186    0.312763   -0.423071    0.970359

In [17]:
df.sort_index(axis=1, ascending=False)

                   D         C         B         A
2013-01-01  0.128514  1.953359 -1.749023  0.830667
2013-01-02 -0.234558  1.286482  0.116212  0.023755
2013-01-03  1.070186  0.166983  1.343375 -0.736622
2013-01-04  0.312763  0.240920  1.157696  0.462554
2013-01-05 -0.423071 -0.689997 -0.220939 -2.120048
2013-01-06  0.970359 -1.699604 -0.901561  1.448632

In [11]:
df.sort_values(by='B')

                   A         B         C         D
2013-01-02  0.855160 -1.252288 -1.305290 -0.504462
2013-01-01 -0.581994 -0.941112 -0.671277  0.359425
2013-01-06 -1.396681 -0.266610  0.781740 -1.260115
2013-01-03  0.214046  0.363070  2.850385  0.491894
2013-01-04  1.409693  0.649781 -0.089365 -0.367362
2013-01-05  0.719006  0.867809 -0.466640  1.048790

In [19]:
df['A']

2013-01-01    0.830667
2013-01-02    0.023755
2013-01-03   -0.736622
2013-01-04    0.462554
2013-01-05   -2.120048
2013-01-06    1.448632
Freq: D, Name: A, dtype: float64

In [20]:
df[0:3]

                   A         B         C         D
2013-01-01  0.830667 -1.749023  1.953359  0.128514
2013-01-02  0.023755  0.116212  1.286482 -0.234558
2013-01-03 -0.736622  1.343375  0.166983  1.070186

In [21]:
df[pd.Timestamp('20130102'):pd.Timestamp('20130104')]

                   A         B         C         D
2013-01-02  0.023755  0.116212  1.286482 -0.234558
2013-01-03 -0.736622  1.343375  0.166983  1.070186
2013-01-04  0.462554  1.157696  0.240920  0.312763

In [22]:
df.loc[dates[0]]

A    0.830667
B   -1.749023
C    1.953359
D    0.128514
Name: 2013-01-01 00:00:00, dtype: float64

In [ ]:
df.loc[:,['A','B']]

In [ ]:
df.loc[pd.Timestamp('20130102'):pd.Timestamp('20130104'),['A','B']]

In [ ]:
df.loc['20130102',['A','B']]

In [ ]:
df.loc[dates[0],'A']

In [ ]:
df.at[dates[0],'A']

In [ ]:
df.iloc[3]

In [ ]:
df.iloc[3:5,0:2]

In [ ]:
df.iloc[[1,2,4],[0,2]]

In [ ]:
df.iloc[1:3,:]

In [ ]:
df.iloc[:,1:3]

In [ ]:
df.iloc[1,1]

In [ ]:
df.iat[1,1]

In [ ]:
x = list('abcdef')

In [ ]:
x[4:10]

In [ ]:
x[8:10]

In [ ]:
df.iloc[:,8:10]

In [ ]:
df[df.A > 0]

In [ ]:
df[df > 0]

In [ ]:
s1 = pd.Series([1,2,3,4,5,6],index=date_range('20130102',periods=6))

In [ ]:
s1

In [ ]:
df['F'] = s1

In [ ]:
df.at[dates[0],'A'] = 0

In [ ]:
df.iat[0,1] = 0

In [ ]:
df.loc[:,'D'] = np.array([5] * len(df))

In [ ]:
df

In [ ]:
df2 = df.copy()

In [ ]:
df2[df2 > 0] = -df2

In [ ]:
df2

In [ ]:
df1 = df.reindex(index=dates[0:4],columns=list(df.columns) + ['E'])

In [ ]:
df1.loc[dates[0]:dates[1],'E'] = 1

In [ ]:
df1

In [ ]:
df1.dropna(how='any')

In [ ]:
df1.fillna(value=5)

In [ ]:
pd.isnull(df1)

In [ ]:
df.mean()

In [ ]:
df.mean(1)

In [ ]:
s = pd.Series([1,3,5,np.nan,6,8],index=dates).shift(2)

In [ ]:
s

In [ ]:
df.sub(s,axis='index')

In [ ]:
df.apply(np.cumsum)

In [ ]:
df.apply(lambda x: x.max() - x.min())

In [ ]:
s = Series(np.random.randint(0,7,size=10))

In [ ]:
s

In [ ]:
s.value_counts()

In [ ]:
s = Series(['A', 'B', 'C', 'Aaba', 'Baca', np.nan, 'CABA', 'dog', 'cat'])

In [ ]:
s.str.lower()

In [ ]:
df = pd.DataFrame(np.random.randn(10, 4))

In [ ]:
df

In [ ]:
pieces = [df[:3], df[3:7], df[7:]]

In [ ]:
concat(pieces)

In [ ]:
left = pd.DataFrame({'key': ['foo', 'foo'], 'lval': [1, 2]})

In [ ]:
right = pd.DataFrame({'key': ['foo', 'foo'], 'rval': [4, 5]})

In [ ]:
left

In [ ]:
right

In [ ]:
merge(left, right, on='key')

In [ ]:
merge