## This Notebook is used to understand Pandas module to be used alongwith slides of Dr. Naveen Aggarwal

In [2]:
import numpy as np
import pandas as pd

### Creating a Series by passing a list of values, letting pandas create a default integer index

In [3]:
s = pd.Series([1,3,5,np.nan,6,8])
print(s)
dates = pd.date_range('20130101',periods=6)
dates

0    1.0
1    3.0
2    5.0
3    NaN
4    6.0
5    8.0
dtype: float64

DatetimeIndex(['2013-01-01', '2013-01-02', '2013-01-03', '2013-01-04',
               '2013-01-05', '2013-01-06'],
              dtype='datetime64[ns]', freq='D')

### Creating Dataframe using dictionary

In [6]:
df = pd.DataFrame(np.random.randn(6,4), index=dates, columns=list('ABCD'))
df

                   A         B         C         D
2013-01-01  1.710686 -0.107537  0.970582  0.252704
2013-01-02 -0.393422  0.561274  1.238250  2.438959
2013-01-03 -2.475899 -1.573090  1.606383 -1.040220
2013-01-04  0.920399  0.568459 -0.216855  0.847831
2013-01-05  0.103886  0.711909 -0.190667 -0.035993
2013-01-06  0.737788 -1.764198 -0.680107 -0.371813

### Creating simple np array

In [4]:
# A structured array
# Structured arrays allow users to manipulate the data by named fields: 
#in the example below, a structured array of three tuples is created. 
#The first element of each tuple will be called ‘foo’ and will be of type int, 
#while the second element will be named ‘bar’ and will be a float.
my_array = np.ones(3, dtype=([('foo', int), ('bar', float)]))
# Print the structured array
print(my_array['foo'])

print(my_array['bar'])

[1 1 1]
[ 1.  1.  1.]

In [7]:
# A record array
my_array2 = my_array.view(np.recarray)
# Print the record array
print(my_array2.foo)
print(my_array2.bar)

[1 1 1]
[ 1.  1.  1.]

### Creating Dataframe from np array

In [3]:
data = np.array([['','Col1','Col2'],
                 ['Row1',1,2],
                ['Row2',3,4]])
                
print(pd.DataFrame(data=data[1:,1:],
                  index=data[1:,0],
                  columns=data[0,1:]))

     Col1 Col2
Row1    1    2
Row2    3    4

### Creating a DataFrame by passing a dict of objects that can be converted to series-like.

In [10]:
df2 = pd.DataFrame({ 'A' : 1.,
   ...:              'B' : pd.Timestamp('20130102'),
   ...:              'C' : pd.Series(1,index=range(4),dtype='float32'),
   ...:              'D' : np.array([3] * 4,dtype='int32'),
   ...:              'E' : 'foo' })
print(df2)
df2.dtypes

     A          B    C  D    E
0  1.0 2013-01-02  1.0  3  foo
1  1.0 2013-01-02  1.0  3  foo
2  1.0 2013-01-02  1.0  3  foo
3  1.0 2013-01-02  1.0  3  foo

A           float64
B    datetime64[ns]
C           float32
D             int32
E            object
dtype: object

### Creating Dataframes from array, dictionary and series

In [8]:
# Take a 2D array as input to your DataFrame 
my_2darray = np.array([[1, 2, 3], [4, 5, 6]])
print("Data Frame From Array\n", pd.DataFrame(my_2darray))

Data Frame From Array
    0  1  2
0  1  2  3
1  4  5  6

In [9]:
# Take a dictionary as input to your DataFrame 
my_dict = {1: ['1', '3'], 2: ['1', '2'], 3: ['2', '4']}
print("Data Frame From Dictionary\n",pd.DataFrame(my_dict))

Data Frame From Dictionary
    1  2  3
0  1  1  2
1  3  2  4

In [10]:
# Take a DataFrame as input to your DataFrame 
my_df = pd.DataFrame(data=[4,5,6,7], index=range(0,4), columns=['A'])
print("Data Frame From another dataframe\n",pd.DataFrame(my_df))

Data Frame From another dataframe
    A
0  4
1  5
2  6
3  7

In [11]:
# Take a Series as input to your DataFrame
my_series = pd.Series({"United Kingdom":"London", "India":"New Delhi"})
print("Data Frame From Series\n",pd.DataFrame(my_series))

Data Frame From Series
                         0
India           New Delhi
United Kingdom     London

### Shape and Length Property

In [5]:
df = pd.DataFrame(np.array([[1, 2, 3], [4, 5, 6]]))

# Use the `shape` property
print(df.shape)

# Or use the `len()` function with the `index` property
print(len(df.index))

(2, 3)
2

In [7]:
list(df.columns.values)

[0, 1, 2]

### Accesing elements of the dataframe

In [14]:
df = pd.DataFrame(data=[[1,2,3],[4,5,6],[7,8,9]], columns=['A', 'B','C'])
print(df)

# Using `iloc[]`
print(df.iloc[0][0])

# Using `loc[]`
print(df.loc[0]['B'])

# Using `at[]`
print(df.at[1,'C'])

# Using `iat[]`
print(df.iat[2,2])

# Using `get_value(index, column)`
print(df.get_value(1, 'A'))

   A  B  C
0  1  2  3
1  4  5  6
2  7  8  9
1
2
6
9
4

### Adding and Accesing an index to dataframe

In [12]:
df = pd.DataFrame(data=np.array([[1, 2, 3], 
                                 [4, 5, 6], 
                                 [7, 8, 9]]), 
                  index= [2, 'A', 4], 
                  columns=[48, 49, 50])

print(df)

   48  49  50
2   1   2   3
A   4   5   6
4   7   8   9

In [13]:
# Pass `2` to `loc`
print("Accesing you loc\n",df.loc[2])

# Pass `2` to `iloc`
print("Accessing you iloc\n",df.iloc[2])

# Pass `2` to `ix`
print("Accesing you ix\n",df.ix[2])

Accesing you loc
 48    1
49    2
50    3
Name: 2, dtype: int32
Accessing you iloc
 48    7
49    8
50    9
Name: 4, dtype: int32
Accesing you ix
 48    7
49    8
50    9
Name: 4, dtype: int32

D:\ProgramData\Anaconda\lib\site-packages\ipykernel_launcher.py:8: DeprecationWarning:
.ix is deprecated. Please use
.loc for label based indexing or
.iloc for positional indexing

See the documentation here:
http://pandas.pydata.org/pandas-docs/stable/indexing.html#ix-indexer-is-deprecated

### Adding a row to data frame

In [14]:
df = pd.DataFrame(data=np.array([[1, 2, 3], 
                                 [4, 5, 6], 
                                 [7, 8, 9]]), 
                  index= [2.5, 12.6, 4.8], 
                  columns=[48, 49, 50])

# There's no index labeled `2`, 
#so you will change the index at position `2`
df.ix[2] = [60, 50, 40]
print(df)

# This will make an index labeled `2` 
#and add the new values
df.loc[2] = [11, 12, 13]
print(df)

      48  49  50
2.5    1   2   3
12.6   4   5   6
4.8   60  50  40
      48  49  50
2.5    1   2   3
12.6   4   5   6
4.8   60  50  40
2.0   11  12  13

D:\ProgramData\Anaconda\lib\site-packages\ipykernel_launcher.py:9: DeprecationWarning:
.ix is deprecated. Please use
.loc for label based indexing or
.iloc for positional indexing

See the documentation here:
http://pandas.pydata.org/pandas-docs/stable/indexing.html#ix-indexer-is-deprecated
  if __name__ == '__main__':

### Adding a Column to data frame

In [36]:
df = pd.DataFrame(data=np.array([[1, 2, 3], 
                                 [4, 5, 6], 
                                 [7, 8, 9]]), 
                  columns=['A', 'B', 'C'])

print(df)

# Use `.index`
df['D'] = df.index

# Print `df`
print("After Adding the Column\n", df)

   A  B  C
0  1  2  3
1  4  5  6
2  7  8  9
After Adding the Column
    A  B  C  D
0  1  2  3  0
1  4  5  6  1
2  7  8  9  2

### Another way of adding column

In [34]:
df['E']=[11,12,13]

# Print `df`
print("After Adding another Column\n", df)

df.loc[:, 5] = pd.Series(['5', '6', '7'], index=df.index)
# Print `df`
print("After Adding another Column\n", df)

After Adding another Column
    A  B  C  D   E  5
0  1  2  3  0  11  5
1  4  5  6  1  12  6
2  7  8  9  2  13  7
After Adding another Column
    A  B  C  D   E  5
0  1  2  3  0  11  5
1  4  5  6  1  12  6
2  7  8  9  2  13  7

### Resetting the index

In [3]:
# Check out the weird index of your dataframe
df = pd.DataFrame(data=np.array([[1, 2, 3], 
                                 [4, 5, 6], 
                                 [7, 8, 9]]), 
                  columns=['A', 'B', 'C'])

print(df)

# Use `reset_index()` to reset the values
print(df.reset_index(level=0, drop=True))

# Use `reset_index()` to reset the values
df.reset_index(level=0, inplace=True)
print(df)

   A  B  C
0  1  2  3
1  4  5  6
2  7  8  9
   A  B  C
0  1  2  3
1  4  5  6
2  7  8  9
   index  A  B  C
0      0  1  2  3
1      1  4  5  6
2      2  7  8  9

### Deleting the Column

In [62]:
df = pd.DataFrame(data=np.array([[1, 2, 3], [4, 5, 6], [7, 8, 9]]), 
                  index= [2.5, 12.6, 4.8], 
                  columns=['A','B','C'])
                  
print(df)
# Drop the column with label 'A'                  
df.drop('A', axis=1, inplace=True)
print("After Droping the Column \n",df)
# Drop the column at position 2
print("After Dropping another Column")
print(df.drop(df.columns[1], axis=1))

      A  B  C
2.5   1  2  3
12.6  4  5  6
4.8   7  8  9
After Droping the Column
       B  C
2.5   2  3
12.6  5  6
4.8   8  9
After Dropping another Column
      B
2.5   2
12.6  5
4.8   8

### Deleting the Row

In [74]:
df = pd.DataFrame(data=np.array([[1, 2, 3], 
                                 [4, 5, 6], 
                                 [7, 8, 9], 
                                 [7, 8, 10]]), 
                  index= [2.5, 12.6, 4.8, 4.8], 
                  columns=[48, 49, 50])
                  

# Check out your DataFrame `df`
print(df)
print("\n")
# Drop the duplicates in `df`
df=pd.DataFrame(data=df.drop_duplicates([48], keep='last'))
print(df)

print("\nDrop the index at position 1")
print(df.drop(df.index[1]))

      48  49  50
2.5    1   2   3
12.6   4   5   6
4.8    7   8   9
4.8    7   8  10


      48  49  50
2.5    1   2   3
12.6   4   5   6
4.8    7   8  10

Drop the index at position 1
     48  49  50
2.5   1   2   3
4.8   7   8  10

### Renaming the Index or Coulmns of Dataframe

In [83]:
df = pd.DataFrame(data=np.array([[1, 2, 3], 
                                 [4, 5, 6], 
                                 [7, 8, 9], 
                                 [7, 8, 10]]), 
                  index= [2.5, 12.6, 4.8, 4.8], 
                  columns=[48, 49, 50])

print(df)
# Define the new names of your columns
newcols = {
    48: 'A', 
    49: 'B', 
    50: 'C'
}

# Use `rename()` to rename your columns
df.rename(columns=newcols, inplace=True)

print("After Renaming the Columns\n", df)

# Rename your index
df=pd.DataFrame(data=df.rename(index={2.5: 'a'}))

print("After Renaming the Index\n", df)

      48  49  50
2.5    1   2   3
12.6   4   5   6
4.8    7   8   9
4.8    7   8  10
After Renaming the Columns
       A  B   C
2.5   1  2   3
12.6  4  5   6
4.8   7  8   9
4.8   7  8  10
After Renaming the Index
       A  B   C
a     1  2   3
12.6  4  5   6
4.8   7  8   9
4.8   7  8  10

### Reading from CSV Files

In [15]:
vehicle=pd.read_csv("D:\onedrive\Python\dataset\Vehicle.csv")
print(vehicle)

     compactness  circularity  distance circularity  radius ratio  \
0             95           48                    83           178
1             91           41                    84           141
2            104           50                   106           209
3             93           41                    82           159
4             85           44                    70           205
5            107           57                   106           172
6             97           43                    73           173
7             90           43                    66           157
8             86           34                    62           140
9             93           44                    98           197
10            86           36                    70           143
11            90           34                    66           136
12            88           46                    74           171
13            89           42                    85           144
14            94           49                    79           203
15            96           55                   103           201
16            89           36                    51           109
17            99           41                    77           197
18           104           54                   100           186
19           101           56                   100           215
20            84           47                    75           153
21            84           37                    53           121
22            94           43                    64           173
23            87           39                    70           148
24            99           53                   105           219
25            85           45                    80           154
26            83           36                    54           119
27           107           54                    98           203
28           102           45                    85           193
29            80           38                    63           129
..           ...          ...                   ...           ...
816           90           48                    85           157
817          104           53                   108           204
818           95           43                    96           202
819           93           42                    98           192
820           87           38                    71           123
821          104           56                    96           231
822           95           41                    82           170
823          105           54                   105           213
824          106           55                    96           196
825           86           39                    84           149
826           95           49                    92           193
827           99           57                   100           177
828           89           42                    66           125
829           95           49                    82           139
830           97           37                    70           173
831          100           47                    70           185
832          108           49                   109           204
833           92           46                    83           154
834           82           36                    51           114
835          111           58                   105           183
836           87           45                    66           139
837           94           46                    77           169
838           95           43                    76           142
839           90           44                    72           157
840           93           34                    66           140
841           93           39                    87           183
842           89           46                    84           163
843          106           54                   101           222
844           86           36                    78           146
845           85           36                    66           123

     pr.axis aspect ratio  max.length aspect ratio  scatter ratio  \
0                      72                       10            162
1                      57                        9            149
2                      66                       10            207
3                      63                        9            144
4                     103                       52            149
5                      50                        6            255
6                      65                        6            153
7                      65                        9            137
8                      61                        7            122
9                      62                       11            183
10                     61                        9            133
11                     55                        6            123
12                     68                        6            152
13                     58                       10            152
14                     71                        5            174
15                     65                        9            204
16                     52                        6            118
17                     69                        6            177
18                     61                       10            216
19                     69                       10            208
20                     64                        6            154
21                     59                        5            123
22                     69                        7            150
23                     61                        7            143
24                     66                       11            204
25                     64                        9            147
26                     57                        6            128
27                     65                       11            218
28                     64                        6            192
29                     55                        7            146
..                    ...                      ...            ...
816                    64                       11            161
817                    64                       11            220
818                    65                       10            189
819                    63                        9            185
820                    53                        8            137
821                    74                       11            220
822                    65                        9            145
823                    67                       10            200
824                    60                       12            221
825                    57                        8            156
826                    62                       10            178
827                    54                       13            224
828                    53                        7            131
829                    56                       11            159
830                    66                        7            151
831                    70                        7            162
832                    61                       11            212
833                    56                        6            160
834                    53                        4            135
835                    51                        6            265
836                    58                        8            140
837                    60                        8            158
838                    57                       10            151
839                    64                        8            137
840                    56                        7            130
841                    64                        8            169
842                    66                       11            159
843                    67                       12            222
844                    58                        7            135
845                    55                        5            120

     elongatedness  pr.axis rectangularity  max.length rectangularity  \
0               42                      20                        159
1               45                      19                        143
2               32                      23                        158
3               46                      19                        143
4               45                      19                        144
5               26                      28                        169
6               42                      19                        143
7               48                      18                        146
8               54                      17                        127
9               36                      22                        146
10              50                      18                        130
11              54                      17                        118
12              43                      19                        148
13              44                      19                        144
14              37                      21                        154
15              32                      23                        166
16              57                      17                        129
17              36                      21                        139
18              31                      24                        173
19              32                      24                        169
20              43                      19                        145
21              55                      17                        125
22              43                      19                        142
23              46                      18                        136
24              32                      23                        165
25              45                      19                        148
26              53                      18                        125
27              31                      25                        167
28              33                      22                        146
29              46                      19                        130
..             ...                     ...                        ...
816             43                      20                        167
817             31                      25                        172
818             35                      22                        143
819             36                      22                        138
820             49                      18                        127
821             30                      25                        172
822             46                      19                        145
823             33                      23                        163
824             30                      25                        173
825             43                      20                        133
826             37                      21                        154
827             30                      25                        188
828             51                      18                        144
829             43                      20                        162
830             43                      19                        129
831             40                      20                        153
832             31                      24                        159
833             41                      20                        148
834             50                      18                        126
835             26                      29                        174
836             47                      18                        148
837             42                      20                        148
838             44                      19                        149
839             48                      18                        144
840             51                      18                        120
841             40                      20                        134
842             43                      20                        159
843             30                      25                        173
844             50                      18                        124
845             56                      17                        128

     scaled variance along major axis  scaled variance along minor axis  \
0                                 176                               379
1                                 170                               330
2                                 223                               635
3                                 160                               309
4                                 241                               325
5                                 280                               957
6                                 176                               361
7                                 162                               281
8                                 141                               223
9                                 202                               505
10                                153                               266
11                                148                               224
12                                180                               349
13                                173                               345
14                                196                               465
15                                227                               624
16                                137                               206
17                                202                               485
18                                225                               686
19                                227                               651
20                                175                               354
21                                141                               221
22                                169                               344
23                                164                               307
24                                221                               623
25                                169                               324
26                                143                               238
27                                229                               696
28                                217                               570
29                                168                               314
..                                ...                               ...
816                               175                               375
817                               226                               707
818                               217                               534
819                               206                               508
820                               158                               277
821                               223                               713
822                               163                               314
823                               214                               597
824                               225                               717
825                               185                               358
826                               200                               478
827                               223                               726
828                               162                               254
829                               173                               365
830                               167                               346
831                               179                               406
832                               229                               665
833                               185                               382
834                               150                               268
835                               285                              1018
836                               168                               294
837                               181                               373
838                               173                               339
839                               159                               283
840                               151                               251
841                               200                               422
842                               173                               368
843                               228                               721
844                               155                               270
845                               140                               212

     scaled radius of gyration  skewness about major axis  \
0                          184                         70
1                          158                         72
2                          220                         73
3                          127                         63
4                          188                        127
5                          264                         85
6                          172                         66
7                          164                         67
8                          112                         64
9                          152                         64
10                         127                         66
11                         118                         65
12                         192                         71
13                         161                         72
14                         206                         71
15                         246                         74
16                         125                         80
17                         151                         72
18                         220                         74
19                         223                         74
20                         184                         75
21                         133                         82
22                         177                         68
23                         141                         69
24                         224                         68
25                         174                         71
26                         139                         82
27                         216                         72
28                         163                         76
29                         158                         83
..                         ...                        ...
816                        186                         74
817                        203                         71
818                        166                         71
819                        173                         70
820                        145                         75
821                        218                         73
822                        140                         64
823                        214                         68
824                        214                         72
825                        157                         74
826                        171                         64
827                        213                         72
828                        162                         73
829                        185                         75
830                        119                         65
831                        172                         68
832                        215                         71
833                        184                         71
834                        144                         86

### Displaying the top and bottom rows of the data

In [17]:
vehicle.head()

,compactness,circularity,distance circularity,radius ratio,pr.axis aspect ratio,max.length aspect ratio,scatter ratio,elongatedness,pr.axis rectangularity,max.length rectangularity,scaled variance along major axis,scaled variance along minor axis,scaled radius of gyration,skewness about major axis,skewness about minor axis,kurtosis about minor axis,kurtosis about major axis,hollows ratio,vehicle
0,95,48,83,178,72,10,162,42,20,159,176,379,184,70,6,16,187,197,van
1,91,41,84,141,57,9,149,45,19,143,170,330,158,72,9,14,189,199,van
2,104,50,106,209,66,10,207,32,23,158,223,635,220,73,14,9,188,196,saab
3,93,41,82,159,63,9,144,46,19,143,160,309,127,63,6,10,199,207,van
4,85,44,70,205,103,52,149,45,19,144,241,325,188,127,9,11,180,183,bus

In [14]:
vehicle.tail(4)

,compactness,circularity,distance circularity,radius ratio,pr.axis aspect ratio,max.length aspect ratio,scatter ratio,elongatedness,pr.axis rectangularity,max.length rectangularity,scaled variance along major axis,scaled variance along minor axis,scaled radius of gyration,skewness about major axis,skewness about minor axis,kurtosis about minor axis,kurtosis about major axis,hollows ratio,vehicle
842,89,46,84,163,66,11,159,43,20,159,173,368,176,72,1,20,186,197,van
843,106,54,101,222,67,12,222,30,25,173,228,721,200,70,3,4,187,201,saab
844,86,36,78,146,58,7,135,50,18,124,155,270,148,66,0,25,190,195,saab
845,85,36,66,123,55,5,120,56,17,128,140,212,131,73,1,18,186,190,van

### Displaying underlying numpy data

vehicle.index

In [22]:
vehicle.columns

Index(['compactness', 'circularity', 'distance circularity', 'radius ratio',
       'pr.axis aspect ratio', 'max.length aspect ratio', 'scatter ratio',
       'elongatedness', 'pr.axis rectangularity', 'max.length rectangularity',
       'scaled variance along major axis', 'scaled variance along minor axis',
       'scaled radius of gyration', 'skewness about major axis',
       'skewness about minor axis', 'kurtosis about minor axis',
       'kurtosis about major axis', 'hollows ratio', 'vehicle'],
      dtype='object')

In [23]:
vehicle.values

array([[95, 48, 83, ..., 187, 197, 'van'],
       [91, 41, 84, ..., 189, 199, 'van'],
       [104, 50, 106, ..., 188, 196, 'saab'],
       ...,
       [106, 54, 101, ..., 187, 201, 'saab'],
       [86, 36, 78, ..., 190, 195, 'saab'],
       [85, 36, 66, ..., 186, 190, 'van']], dtype=object)

### Describing the statistics of the data

In [26]:
vehicle.describe()

,compactness,circularity,distance circularity,radius ratio,pr.axis aspect ratio,max.length aspect ratio,scatter ratio,elongatedness,pr.axis rectangularity,max.length rectangularity,scaled variance along major axis,scaled variance along minor axis,scaled radius of gyration,skewness about major axis,skewness about minor axis,kurtosis about minor axis,kurtosis about major axis,hollows ratio
count,846.000000,846.000000,846.000000,846.000000,846.000000,846.000000,846.000000,846.000000,846.000000,846.000000,846.000000,846.000000,846.00000,846.000000,846.000000,846.000000,846.000000,846.000000
mean,93.678487,44.861702,82.088652,168.940898,61.693853,8.567376,168.839243,40.933806,20.582742,147.998818,188.625296,439.911348,174.70331,72.462175,6.377069,12.599291,188.932624,195.632388
std,8.234474,6.169866,15.771533,33.472183,7.888251,4.601217,33.244978,7.811560,2.592138,14.515652,31.394837,176.692614,32.54649,7.486974,4.918353,8.931240,6.163949,7.438797
min,73.000000,33.000000,40.000000,104.000000,47.000000,2.000000,112.000000,26.000000,17.000000,118.000000,130.000000,184.000000,109.00000,59.000000,0.000000,0.000000,176.000000,181.000000
25%,87.000000,40.000000,70.000000,141.000000,57.000000,7.000000,146.250000,33.000000,19.000000,137.000000,167.000000,318.250000,149.00000,67.000000,2.000000,5.000000,184.000000,190.250000
50%,93.000000,44.000000,80.000000,167.000000,61.000000,8.000000,157.000000,43.000000,20.000000,146.000000,178.500000,364.000000,173.00000,71.500000,6.000000,11.000000,188.000000,197.000000
75%,100.000000,49.000000,98.000000,195.000000,65.000000,10.000000,198.000000,46.000000,23.000000,159.000000,217.000000,587.000000,198.00000,75.000000,9.000000,19.000000,193.000000,201.000000
max,119.000000,59.000000,112.000000,333.000000,138.000000,55.000000,265.000000,61.000000,29.000000,188.000000,320.000000,1018.000000,268.00000,135.000000,22.000000,41.000000,206.000000,211.000000

### Basic Operations on data

In [32]:
df.T # Transpose of data

   2013-01-01  2013-01-02  2013-01-03  2013-01-04  2013-01-05  2013-01-06
A    1.710686   -0.393422   -2.475899    0.920399    0.103886    0.737788
B   -0.107537    0.561274   -1.573090    0.568459    0.711909   -1.764198
C    0.970582    1.238250    1.606383   -0.216855   -0.190667   -0.680107
D    0.252704    2.438959   -1.040220    0.847831   -0.035993   -0.371813

In [34]:
df.sort_index(axis=1, ascending=False)  #Sorting of Columns

                   D         C         B         A
2013-01-01  0.252704  0.970582 -0.107537  1.710686
2013-01-02  2.438959  1.238250  0.561274 -0.393422
2013-01-03 -1.040220  1.606383 -1.573090 -2.475899
2013-01-04  0.847831 -0.216855  0.568459  0.920399
2013-01-05 -0.035993 -0.190667  0.711909  0.103886
2013-01-06 -0.371813 -0.680107 -1.764198  0.737788

In [35]:
df.sort_values(by='B') #Sorting of rows by Column

                   A         B         C         D
2013-01-06  0.737788 -1.764198 -0.680107 -0.371813
2013-01-03 -2.475899 -1.573090  1.606383 -1.040220
2013-01-01  1.710686 -0.107537  0.970582  0.252704
2013-01-02 -0.393422  0.561274  1.238250  2.438959
2013-01-04  0.920399  0.568459 -0.216855  0.847831
2013-01-05  0.103886  0.711909 -0.190667 -0.035993

### Selecting the Data

#Selecting a single column, which yields a Series, equivalent to df.A
print(df['A'])
print("\n Same As Above\n",df.A)

### Selecting via [], which slices the rows.

In [47]:
vehicle[0:3]

,compactness,circularity,distance circularity,radius ratio,pr.axis aspect ratio,max.length aspect ratio,scatter ratio,elongatedness,pr.axis rectangularity,max.length rectangularity,scaled variance along major axis,scaled variance along minor axis,scaled radius of gyration,skewness about major axis,skewness about minor axis,kurtosis about minor axis,kurtosis about major axis,hollows ratio,vehicle
0,95,48,83,178,72,10,162,42,20,159,176,379,184,70,6,16,187,197,van
1,91,41,84,141,57,9,149,45,19,143,170,330,158,72,9,14,189,199,van
2,104,50,106,209,66,10,207,32,23,158,223,635,220,73,14,9,188,196,saab

In [48]:
vehicle[10:15]

,compactness,circularity,distance circularity,radius ratio,pr.axis aspect ratio,max.length aspect ratio,scatter ratio,elongatedness,pr.axis rectangularity,max.length rectangularity,scaled variance along major axis,scaled variance along minor axis,scaled radius of gyration,skewness about major axis,skewness about minor axis,kurtosis about minor axis,kurtosis about major axis,hollows ratio,vehicle
10,86,36,70,143,61,9,133,50,18,130,153,266,127,66,2,10,194,202,van
11,90,34,66,136,55,6,123,54,17,118,148,224,118,65,5,26,196,202,saab
12,88,46,74,171,68,6,152,43,19,148,180,349,192,71,5,11,189,195,bus
13,89,42,85,144,58,10,152,44,19,144,173,345,161,72,8,13,187,197,van
14,94,49,79,203,71,5,174,37,21,154,196,465,206,71,6,2,197,199,bus

### Selection By Label

In [49]:
#For Getting Cross Section using Labels
df.loc[dates[0]]

A    1.710686
B   -0.107537
C    0.970582
D    0.252704
Name: 2013-01-01 00:00:00, dtype: float64

In [51]:
#For Selecting multiple Columns
df.loc[:,['A','B']]

                   A         B
2013-01-01  1.710686 -0.107537
2013-01-02 -0.393422  0.561274
2013-01-03 -2.475899 -1.573090
2013-01-04  0.920399  0.568459
2013-01-05  0.103886  0.711909
2013-01-06  0.737788 -1.764198

In [52]:
# Showing label slicing, both endpoints are included
df.loc['20130102':'20130104',['A','B']]

                   A         B
2013-01-02 -0.393422  0.561274
2013-01-03 -2.475899 -1.573090
2013-01-04  0.920399  0.568459

In [53]:
#Reduction in Dimension of Returned Object
df.loc['20130102',['A','B']]

A   -0.393422
B    0.561274
Name: 2013-01-02 00:00:00, dtype: float64

In [54]:
#For Getting Scalar Values, There are two methods
print(df.loc[dates[0],'A'])
print(df.at[dates[0],'A'])

1.71068592894
1.71068592894

### Selection By Position

In [58]:
#Select via the position of the passed integers
df.iloc[3]

A    0.920399
B    0.568459
C   -0.216855
D    0.847831
Name: 2013-01-04 00:00:00, dtype: float64

In [59]:
#By integer slices, acting similar to numpy/python
vehicle.iloc[3:5,0:2]

   compactness  circularity
3           93           41
4           85           44

In [60]:
#By lists of integer position locations, similar to the numpy/python style
vehicle.iloc[[1,2,4],[0,2]]

   compactness  distance circularity
1           91                    84
2          104                   106
4           85                    70

In [63]:
#For slicing rows explicitly
df.iloc[1:3,:]

                   A         B         C         D
2013-01-02 -0.393422  0.561274  1.238250  2.438959
2013-01-03 -2.475899 -1.573090  1.606383 -1.040220

In [64]:
#For slicing cols explicitly
df.iloc[:,1:4]

                   B         C         D
2013-01-01 -0.107537  0.970582  0.252704
2013-01-02  0.561274  1.238250  2.438959
2013-01-03 -1.573090  1.606383 -1.040220
2013-01-04  0.568459 -0.216855  0.847831
2013-01-05  0.711909 -0.190667 -0.035993
2013-01-06 -1.764198 -0.680107 -0.371813

### Conditional Selection

In [65]:
df[df.A > 0]

                   A         B         C         D
2013-01-01  1.710686 -0.107537  0.970582  0.252704
2013-01-04  0.920399  0.568459 -0.216855  0.847831
2013-01-05  0.103886  0.711909 -0.190667 -0.035993
2013-01-06  0.737788 -1.764198 -0.680107 -0.371813

In [66]:
#Selecting values from a DataFrame where a boolean condition is met.
df[df>0]

                   A         B         C         D
2013-01-01  1.710686       NaN  0.970582  0.252704
2013-01-02       NaN  0.561274  1.238250  2.438959
2013-01-03       NaN       NaN  1.606383       NaN
2013-01-04  0.920399  0.568459       NaN  0.847831
2013-01-05  0.103886  0.711909       NaN       NaN
2013-01-06  0.737788       NaN       NaN       NaN

In [71]:
# Using the isin method for filtering
df2 = df.copy()
df2['E'] = ['one', 'one','two','three','four','three']
print(df2)
print(df2[df2['E'].isin(['two','four'])])

                   A         B         C         D      E
2013-01-01  1.710686 -0.107537  0.970582  0.252704    one
2013-01-02 -0.393422  0.561274  1.238250  2.438959    one
2013-01-03 -2.475899 -1.573090  1.606383 -1.040220    two
2013-01-04  0.920399  0.568459 -0.216855  0.847831  three
2013-01-05  0.103886  0.711909 -0.190667 -0.035993   four
2013-01-06  0.737788 -1.764198 -0.680107 -0.371813  three
                   A         B         C         D     E
2013-01-03 -2.475899 -1.573090  1.606383 -1.040220   two
2013-01-05  0.103886  0.711909 -0.190667 -0.035993  four