## This Notebook is used to understand Pandas module 
### This is Part 2 of the Pandas Notebook
Dr. Naveen Aggarwal

In [1]:
import numpy as np
import pandas as pd

### Reading from CSV Files

In [2]:
vehicle=pd.read_csv("CSV data\Vehicle.csv")
print(vehicle)

     compactness  circularity  distance circularity  radius ratio  \
0             95           48                    83           178
1             91           41                    84           141
2            104           50                   106           209
3             93           41                    82           159
4             85           44                    70           205
..           ...          ...                   ...           ...
841           93           39                    87           183
842           89           46                    84           163
843          106           54                   101           222
844           86           36                    78           146
845           85           36                    66           123

     pr.axis aspect ratio  max.length aspect ratio  scatter ratio  \
0                      72                       10            162
1                      57                        9            149
2                      66                       10            207
3                      63                        9            144
4                     103                       52            149
..                    ...                      ...            ...
841                    64                        8            169
842                    66                       11            159
843                    67                       12            222
844                    58                        7            135
845                    55                        5            120

     elongatedness  pr.axis rectangularity  max.length rectangularity  \
0               42                      20                        159
1               45                      19                        143
2               32                      23                        158
3               46                      19                        143
4               45                      19                        144
..             ...                     ...                        ...
841             40                      20                        134
842             43                      20                        159
843             30                      25                        173
844             50                      18                        124
845             56                      17                        128

     scaled variance along major axis  scaled variance along minor axis  \
0                                 176                               379
1                                 170                               330
2                                 223                               635
3                                 160                               309
4                                 241                               325
..                                ...                               ...
841                               200                               422
842                               173                               368
843                               228                               721
844                               155                               270
845                               140                               212

     scaled radius of gyration  skewness about major axis  \
0                          184                         70
1                          158                         72
2                          220                         73
3                          127                         63
4                          188                        127
..                         ...                        ...
841                        149                         72
842                        176                         72
843                        200                         70
844                        148                         66
845                        131                         73

     skewness about minor axis  kurtosis about minor axis  \
0                            6                         16
1                            9                         14
2                           14                          9
3                            6                         10
4                            9                         11
..                         ...                        ...
841                          7                         25
842                          1                         20
843                          3                          4
844                          0                         25
845                          1                         18

     kurtosis about major axis  hollows ratio vehicle
0                          187            197     van
1                          189            199     van
2                          188            196    saab
3                          199            207     van
4                          180            183     bus
..                         ...            ...     ...
841                        188            195    saab
842                        186            197     van
843                        187            201    saab
844                        190            195    saab
845                        186            190     van

[846 rows x 19 columns]

### Displaying the top and bottom rows of the data

In [3]:
vehicle.head(8)

,compactness,circularity,distance circularity,radius ratio,pr.axis aspect ratio,max.length aspect ratio,scatter ratio,elongatedness,pr.axis rectangularity,max.length rectangularity,scaled variance along major axis,scaled variance along minor axis,scaled radius of gyration,skewness about major axis,skewness about minor axis,kurtosis about minor axis,kurtosis about major axis,hollows ratio,vehicle
0,95,48,83,178,72,10,162,42,20,159,176,379,184,70,6,16,187,197,van
1,91,41,84,141,57,9,149,45,19,143,170,330,158,72,9,14,189,199,van
2,104,50,106,209,66,10,207,32,23,158,223,635,220,73,14,9,188,196,saab
3,93,41,82,159,63,9,144,46,19,143,160,309,127,63,6,10,199,207,van
4,85,44,70,205,103,52,149,45,19,144,241,325,188,127,9,11,180,183,bus
5,107,57,106,172,50,6,255,26,28,169,280,957,264,85,5,9,181,183,bus
6,97,43,73,173,65,6,153,42,19,143,176,361,172,66,13,1,200,204,bus
7,90,43,66,157,65,9,137,48,18,146,162,281,164,67,3,3,193,202,van

In [4]:
vehicle.tail(3)

,compactness,circularity,distance circularity,radius ratio,pr.axis aspect ratio,max.length aspect ratio,scatter ratio,elongatedness,pr.axis rectangularity,max.length rectangularity,scaled variance along major axis,scaled variance along minor axis,scaled radius of gyration,skewness about major axis,skewness about minor axis,kurtosis about minor axis,kurtosis about major axis,hollows ratio,vehicle
843,106,54,101,222,67,12,222,30,25,173,228,721,200,70,3,4,187,201,saab
844,86,36,78,146,58,7,135,50,18,124,155,270,148,66,0,25,190,195,saab
845,85,36,66,123,55,5,120,56,17,128,140,212,131,73,1,18,186,190,van

### Displaying underlying numpy data

In [5]:
vehicle.index

RangeIndex(start=0, stop=846, step=1)

In [6]:
vehicle.columns

Index(['compactness', 'circularity', 'distance circularity', 'radius ratio',
       'pr.axis aspect ratio', 'max.length aspect ratio', 'scatter ratio',
       'elongatedness', 'pr.axis rectangularity', 'max.length rectangularity',
       'scaled variance along major axis', 'scaled variance along minor axis',
       'scaled radius of gyration', 'skewness about major axis',
       'skewness about minor axis', 'kurtosis about minor axis',
       'kurtosis about major axis', 'hollows ratio', 'vehicle'],
      dtype='object')

In [7]:
vehicle.values

array([[95, 48, 83, ..., 187, 197, 'van'],
       [91, 41, 84, ..., 189, 199, 'van'],
       [104, 50, 106, ..., 188, 196, 'saab'],
       ...,
       [106, 54, 101, ..., 187, 201, 'saab'],
       [86, 36, 78, ..., 190, 195, 'saab'],
       [85, 36, 66, ..., 186, 190, 'van']], dtype=object)

### Describing the statistics of the data

In [9]:
vehicle.describe()

,compactness,circularity,distance circularity,radius ratio,pr.axis aspect ratio,max.length aspect ratio,scatter ratio,elongatedness,pr.axis rectangularity,max.length rectangularity,scaled variance along major axis,scaled variance along minor axis,scaled radius of gyration,skewness about major axis,skewness about minor axis,kurtosis about minor axis,kurtosis about major axis,hollows ratio
count,846.000000,846.000000,846.000000,846.000000,846.000000,846.000000,846.000000,846.000000,846.000000,846.000000,846.000000,846.000000,846.00000,846.000000,846.000000,846.000000,846.000000,846.000000
mean,93.678487,44.861702,82.088652,168.940898,61.693853,8.567376,168.839243,40.933806,20.582742,147.998818,188.625296,439.911348,174.70331,72.462175,6.377069,12.599291,188.932624,195.632388
std,8.234474,6.169866,15.771533,33.472183,7.888251,4.601217,33.244978,7.811560,2.592138,14.515652,31.394837,176.692614,32.54649,7.486974,4.918353,8.931240,6.163949,7.438797
min,73.000000,33.000000,40.000000,104.000000,47.000000,2.000000,112.000000,26.000000,17.000000,118.000000,130.000000,184.000000,109.00000,59.000000,0.000000,0.000000,176.000000,181.000000
25%,87.000000,40.000000,70.000000,141.000000,57.000000,7.000000,146.250000,33.000000,19.000000,137.000000,167.000000,318.250000,149.00000,67.000000,2.000000,5.000000,184.000000,190.250000
50%,93.000000,44.000000,80.000000,167.000000,61.000000,8.000000,157.000000,43.000000,20.000000,146.000000,178.500000,364.000000,173.00000,71.500000,6.000000,11.000000,188.000000,197.000000
75%,100.000000,49.000000,98.000000,195.000000,65.000000,10.000000,198.000000,46.000000,23.000000,159.000000,217.000000,587.000000,198.00000,75.000000,9.000000,19.000000,193.000000,201.000000
max,119.000000,59.000000,112.000000,333.000000,138.000000,55.000000,265.000000,61.000000,29.000000,188.000000,320.000000,1018.000000,268.00000,135.000000,22.000000,41.000000,206.000000,211.000000

### Selecting the Data

#### Selecting a single column, which yields a Series, equivalent to df.A
print(df['A'])
print("\n Same As Above\n",df.A)
### Selecting via [], which slices the rows.

In [10]:
vehicle[0:3]

,compactness,circularity,distance circularity,radius ratio,pr.axis aspect ratio,max.length aspect ratio,scatter ratio,elongatedness,pr.axis rectangularity,max.length rectangularity,scaled variance along major axis,scaled variance along minor axis,scaled radius of gyration,skewness about major axis,skewness about minor axis,kurtosis about minor axis,kurtosis about major axis,hollows ratio,vehicle
0,95,48,83,178,72,10,162,42,20,159,176,379,184,70,6,16,187,197,van
1,91,41,84,141,57,9,149,45,19,143,170,330,158,72,9,14,189,199,van
2,104,50,106,209,66,10,207,32,23,158,223,635,220,73,14,9,188,196,saab

In [11]:
vehicle[10:15]

,compactness,circularity,distance circularity,radius ratio,pr.axis aspect ratio,max.length aspect ratio,scatter ratio,elongatedness,pr.axis rectangularity,max.length rectangularity,scaled variance along major axis,scaled variance along minor axis,scaled radius of gyration,skewness about major axis,skewness about minor axis,kurtosis about minor axis,kurtosis about major axis,hollows ratio,vehicle
10,86,36,70,143,61,9,133,50,18,130,153,266,127,66,2,10,194,202,van
11,90,34,66,136,55,6,123,54,17,118,148,224,118,65,5,26,196,202,saab
12,88,46,74,171,68,6,152,43,19,148,180,349,192,71,5,11,189,195,bus
13,89,42,85,144,58,10,152,44,19,144,173,345,161,72,8,13,187,197,van
14,94,49,79,203,71,5,174,37,21,154,196,465,206,71,6,2,197,199,bus

### Selection By Label

In [12]:
vehicle['compactness']

0       95
1       91
2      104
3       93
4       85
5      107
6       97
7       90
8       86
9       93
10      86
11      90
12      88
13      89
14      94
15      96
16      89
17      99
18     104
19     101
20      84
21      84
22      94
23      87
24      99
25      85
26      83
27     107
28     102
29      80
      ...
816     90
817    104
818     95
819     93
820     87
821    104
822     95
823    105
824    106
825     86
826     95
827     99
828     89
829     95
830     97
831    100
832    108
833     92
834     82
835    111
836     87
837     94
838     95
839     90
840     93
841     93
842     89
843    106
844     86
845     85
Name: compactness, Length: 846, dtype: int64

### Selection By Position

In [13]:
#By integer slices, acting similar to numpy/python
vehicle.iloc[3:5,0:2]

   compactness  circularity
3           93           41
4           85           44

In [14]:
#By lists of integer position locations, similar to the numpy/python style
vehicle.iloc[[1,2,4],[0,2]]

   compactness  distance circularity
1           91                    84
2          104                   106
4           85                    70

## Reshaping Data Frames

In [8]:
#building the Dataframe

IPL_Team = {'Team': ['CSK', 'RCB', 'KKR', 'MUMBAI INDIANS', 'SRH',
'Punjab Kings', 'RR', 'DELHI CAPITALS', 'CSK', 'RCB', 'KKR', 'MUMBAI INDIANS', 'SRH',
'Punjab Kings', 'RR', 'DELHI CAPITALS','CSK', 'RCB', 'KKR', 'MUMBAI INDIANS', 'SRH',
'Punjab Kings', 'RR', 'DELHI CAPITALS'],
'Year': [2018,2018,2018,2018,2018,2018,2018,2018,2019,2019,2019,2019,2019,2019,2019,2019,2020,2020,2020,2020,2020,2020,2020,2020],
'Points':[23,43,45,65,76,34,23,78,89,76,92,87,50,45,67,89,89,76,92,87,43,24,32,85]}
IPL_Team_df = pd.DataFrame(IPL_Team)

print(IPL_Team_df)

              Team  Year  Points
0              CSK  2018      23
1              RCB  2018      43
2              KKR  2018      45
3   MUMBAI INDIANS  2018      65
4              SRH  2018      76
5     Punjab Kings  2018      34
6               RR  2018      23
7   DELHI CAPITALS  2018      78
8              CSK  2019      89
9              RCB  2019      76
10             KKR  2019      92
11  MUMBAI INDIANS  2019      87
12             SRH  2019      50
13    Punjab Kings  2019      45
14              RR  2019      67
15  DELHI CAPITALS  2019      89
16             CSK  2020      89
17             RCB  2020      76
18             KKR  2020      92
19  MUMBAI INDIANS  2020      87
20             SRH  2020      43
21    Punjab Kings  2020      24
22              RR  2020      32
23  DELHI CAPITALS  2020      85

#### 1. GroupBy

In [21]:
IPL_Team_df.groupby("Team").mean()
#groups_df = IPL_Team_df.groupby(level=1)

#for Team, group in groups_df:
 #   print("----- {} -----".format(Team))
  #  print(group)
  #  print("")

                  Year     Points
Team
CSK             2019.0  67.000000
DELHI CAPITALS  2019.0  84.000000
KKR             2019.0  76.333333
MUMBAI INDIANS  2019.0  79.666667
Punjab Kings    2019.0  34.333333
RCB             2019.0  65.000000
RR              2019.0  40.666667
SRH             2019.0  56.333333

#### 2. Transpose

In [6]:
IPL_Team__Tran_df=IPL_Team_df.T
IPL_Team__Tran_df.head(3)
#print(IPL_Team__Tran_df)

,0,1,2,3,4,5,6,7,8,9,...,14,15,16,17,18,19,20,21,22,23
Team,CSK,RCB,KKR,MUMBAI INDIANS,SRH,Punjab Kings,RR,DELHI CAPITALS,CSK,RCB,...,RR,DELHI CAPITALS,CSK,RCB,KKR,MUMBAI INDIANS,SRH,Punjab Kings,RR,DELHI CAPITALS
Year,2018,2018,2018,2018,2018,2018,2018,2018,2019,2019,...,2019,2019,2020,2020,2020,2020,2020,2020,2020,2020
Points,23,43,45,65,76,34,23,78,89,76,...,67,89,89,76,92,87,43,24,32,85

#### 3. Stacking

In [7]:
IPL_Team_stack_df = IPL_Team_df.stack()
#print(IPL_Team_stack_df)
IPL_Team_stack_df.head(10)

0  Team                 CSK
   Year                2018
   Points                23
1  Team                 RCB
   Year                2018
   Points                43
2  Team                 KKR
   Year                2018
   Points                45
3  Team      MUMBAI INDIANS
dtype: object

#### 4. MELT

Melt transforms a DataFrame from wide format to long format. Melt gives flexibility around how the transformation should take place. In other words, melt allows grabbing columns and transforming them into rows while leaving other columns unchanged (my favourite)

In [10]:
IPL_Team_df_melt = IPL_Team_df.melt(id_vars =['Team', 'Points'])
print(IPL_Team_df_melt.head(10))

             Team  Points variable  value
0             CSK      23     Year   2018
1             RCB      43     Year   2018
2             KKR      45     Year   2018
3  MUMBAI INDIANS      65     Year   2018
4             SRH      76     Year   2018
5    Punjab Kings      34     Year   2018
6              RR      23     Year   2018
7  DELHI CAPITALS      78     Year   2018
8             CSK      89     Year   2019
9             RCB      76     Year   2019

### One Hot Encoding

In [4]:
data=pd.DataFrame({"Fruits":["Apple","Banana","Cherries","Grapes","Mango","Banana","Cherries","Grapes","Mango","Apple"]})
data

     Fruits
0     Apple
1    Banana
2  Cherries
3    Grapes
4     Mango
5    Banana
6  Cherries
7    Grapes
8     Mango
9     Apple

In [5]:
#Create object for one-hot encoding
import category_encoders as ce
encoder=ce.OneHotEncoder(cols='Fruits',handle_unknown='return_nan',return_df=True,use_cat_names=True)
data_encoded = encoder.fit_transform(data)
data_encoded

C:\ProgramData\Anaconda3\lib\site-packages\category_encoders\utils.py:21: FutureWarning: is_categorical is deprecated and will be removed in a future version.  Use is_categorical_dtype instead
  elif pd.api.types.is_categorical(cols):

   Fruits_Apple  Fruits_Banana  Fruits_Cherries  Fruits_Grapes  Fruits_Mango
0           1.0            0.0              0.0            0.0           0.0
1           0.0            1.0              0.0            0.0           0.0
2           0.0            0.0              1.0            0.0           0.0
3           0.0            0.0              0.0            1.0           0.0
4           0.0            0.0              0.0            0.0           1.0
5           0.0            1.0              0.0            0.0           0.0
6           0.0            0.0              1.0            0.0           0.0
7           0.0            0.0              0.0            1.0           0.0
8           0.0            0.0              0.0            0.0           1.0
9           1.0            0.0              0.0            0.0           0.0