## This Notebook is used to understand Pandas module 
Dr. Naveen Aggarwal

In [1]:
import numpy as np
import pandas as pd

### Creating Structured Array using np array

In [3]:
# A structured array
# Structured arrays allow users to manipulate the data by named fields: 
#in the example below, a structured array of three tuples is created. 
#The first element of each tuple will be called ‘foo’ and will be of type int, 
#while the second element will be named ‘bar’ and will be a float.
my_array = np.ones(3, dtype=([('foo', int), ('bar', float)]))
# Print the structured array
print(my_array)
print(my_array['foo'])
print(my_array['bar'])

[(1, 1.) (1, 1.) (1, 1.)]
[1 1 1]
[1. 1. 1.]

In [4]:
# A record array
my_array2 = my_array.view(np.recarray)
# Print the record array
print(my_array2)
print(my_array2.foo[0])
print(my_array2.bar)

[(1, 1.) (1, 1.) (1, 1.)]
1
[1. 1. 1.]

### Creating Dataframe from np array

In [5]:
data = np.array([['','Col1','Col2'],
                 ['Row1',1,2],
                ['Row2',3,4]])
                
print(pd.DataFrame(data=data[1:,1:],
                  index=data[1:,0],
                  columns=data[0,1:]))

     Col1 Col2
Row1    1    2
Row2    3    4

### Creating a DataFrame by passing a dict of objects that can be converted to series-like.

In [6]:
df2 = pd.DataFrame({ 'A' : 1.,
   ...:              'B' : pd.Timestamp('20130102'),
   ...:              'C' : pd.Series(1,index=range(5),dtype='float32'),
   ...:              'D' : np.array([3] * 5,dtype='int32'),
   ...:              'E' : 'foo' })
print(df2)
df2.dtypes

     A          B    C  D    E
0  1.0 2013-01-02  1.0  3  foo
1  1.0 2013-01-02  1.0  3  foo
2  1.0 2013-01-02  1.0  3  foo
3  1.0 2013-01-02  1.0  3  foo
4  1.0 2013-01-02  1.0  3  foo

A           float64
B    datetime64[ns]
C           float32
D             int32
E            object
dtype: object

### Creating Dataframes from array, dictionary and series

In [7]:
# Take a 2D array as input to your DataFrame 
my_2darray = np.array([[1, 2, 3], [4, 5, 6]])
print("Data Frame From Array\n", pd.DataFrame(my_2darray))

Data Frame From Array
    0  1  2
0  1  2  3
1  4  5  6

In [8]:
# Take a dictionary as input to your DataFrame 
my_dict = {'A': ['1', '3'], 'B': ['1', '2'], 3: ['2', '4']}
print("Data Frame From Dictionary\n",pd.DataFrame(my_dict))

Data Frame From Dictionary
    A  B  3
0  1  1  2
1  3  2  4

In [9]:
# Take a DataFrame as input to your DataFrame 
my_df = pd.DataFrame(data=[4,5,6,7], index=range(0,4), columns=['A'])
print("Data Frame From another dataframe\n",pd.DataFrame(my_df))

Data Frame From another dataframe
    A
0  4
1  5
2  6
3  7

In [10]:
# Take a Series as input to your DataFrame
my_series = pd.Series({"United Kingdom":"London", "India":"New Delhi"})
print("Data Frame From Series\n",pd.DataFrame(my_series))

Data Frame From Series
                         0
India           New Delhi
United Kingdom     London

### Shape and Length Property

In [11]:
df = pd.DataFrame(np.array([[1, 2, 3], [4, 5, 6]]))

# Use the `shape` property
print(df.shape[1])
print(df.shape)
# Or use the `len()` function with the `index` property
print(len(df.index))

3
(2, 3)
2

In [12]:
list(df.columns.values)

[0, 1, 2]

### Accesing elements of the dataframe

In [13]:
df = pd.DataFrame(data=[[1,2,3],[4,5,6],[7,8,9]], columns=['A', 'B','C'])
print(df)

# Using `iloc[]`
print(df.iloc[0][0])

# Using `loc[]`
print(df.loc[0]['B'])

# Using `at[]`
print(df.at[1,'C'])

# Using `iat[]`
print(df.iat[2,2])

# Using `get_value(index, column)`
print(df.get_value(1, 'A'))

   A  B  C
0  1  2  3
1  4  5  6
2  7  8  9
1
2
6
9
4

### Adding and Accesing an index to dataframe

In [2]:
df = pd.DataFrame(data=np.array([[1, 2, 3], 
                                 [4, 5, 6], 
                                 [7, 8, 9]]), 
                  index= [2, 'A', 4], 
                  columns=[48, 49, 50])

print(df)

   48  49  50
2   1   2   3
A   4   5   6
4   7   8   9

In [58]:
# Pass `2` to `loc`
print("Accesing you loc\n",df.loc[2])

# Pass `2` to `iloc`
print("Accessing you iloc\n",df.iloc[2])

# Pass `2` to `ix`
print("Accesing you ix\n",df.ix[2])

Accesing you loc
 48    1
49    2
50    3
Name: 2, dtype: int32
Accessing you iloc
 48    7
49    8
50    9
Name: 4, dtype: int32
Accesing you ix
 48    7
49    8
50    9
Name: 4, dtype: int32

D:\ProgramData\Anaconda\lib\site-packages\ipykernel_launcher.py:8: DeprecationWarning:
.ix is deprecated. Please use
.loc for label based indexing or
.iloc for positional indexing

See the documentation here:
http://pandas.pydata.org/pandas-docs/stable/indexing.html#ix-indexer-is-deprecated

### Adding a row to data frame

In [15]:
df = pd.DataFrame(data=np.array([[1, 2, 3], 
                                 [4, 5, 6], 
                                 [7, 8, 9]]), 
                  index= [2, 12.6, 4.8], 
                  columns=[48, 49, 50])

# There's no index labeled `2`, 
#so you will change the index at position `2`
df.ix[2] = [60, 50, 40]
print(df)

# This will make an index labeled `2` 
#and add the new values
df.loc[2] = [11, 12, 13]
print(df)

      48  49  50
2.0   60  50  40
12.6   4   5   6
4.8    7   8   9
      48  49  50
2.0   11  12  13
12.6   4   5   6
4.8    7   8   9

D:\ProgramData\Anaconda\lib\site-packages\ipykernel_launcher.py:9: DeprecationWarning:
.ix is deprecated. Please use
.loc for label based indexing or
.iloc for positional indexing

See the documentation here:
http://pandas.pydata.org/pandas-docs/stable/indexing.html#ix-indexer-is-deprecated
  if __name__ == '__main__':

### Adding a Column to data frame

In [17]:
df = pd.DataFrame(data=np.array([[1, 2, 3], 
                                 [4, 5, 6], 
                                 [7, 8, 9]]), 
                  columns=['A', 'B', 'C'])

print(df)

# Use `.index`
df['D'] = df.index

# Print `df`
print("After Adding the Column\n", df)

   A  B  C
0  1  2  3
1  4  5  6
2  7  8  9
After Adding the Column
    A  B  C  D
0  1  2  3  0
1  4  5  6  1
2  7  8  9  2

### Another way of adding column

In [61]:
df['E']=[11,12,13]

# Print `df`
print("After Adding another Column\n", df)

df.loc[:, 3] = pd.Series(['5', '6', '7'], index=df.index)
# Print `df`
print("After Adding another Column\n", df)

After Adding another Column
    A  B  C  D   E
0  1  2  3  0  11
1  4  5  6  1  12
2  7  8  9  2  13
After Adding another Column
    A  B  C  D   E  3
0  1  2  3  0  11  5
1  4  5  6  1  12  6
2  7  8  9  2  13  7

### Resetting the index

In [18]:
# Check out the weird index of your dataframe
df = pd.DataFrame(data=np.array([[1, 2, 3], 
                                 [4, 5, 6], 
                                 [7, 8, 9]]), 
                  columns=['A', 'B', 'C'])

print(df)

# Use `reset_index()` to reset the values
print(df.reset_index(level=0, drop=True))

# Use `reset_index()` to reset the values
df.reset_index(level=0, inplace=False)
print(df)

   A  B  C
0  1  2  3
1  4  5  6
2  7  8  9
   A  B  C
0  1  2  3
1  4  5  6
2  7  8  9
   A  B  C
0  1  2  3
1  4  5  6
2  7  8  9

### Deleting the Column

In [66]:
df = pd.DataFrame(data=np.array([[1, 2, 3], [4, 5, 6], [7, 8, 9]]), 
                  index= [2.5, 12.6, 4.8], 
                  columns=['A','B','C'])
                  
print(df)
# Drop the column with label 'A'                  
df.drop('A', axis=1, inplace=True)
print("After Droping the Column \n",df)
# Drop the column at position 2
print("After Dropping another Column")
print(df.drop(df.columns[1], axis=1))

      A  B  C
2.5   1  2  3
12.6  4  5  6
4.8   7  8  9
After Droping the Column
       B  C
2.5   2  3
12.6  5  6
4.8   8  9
After Dropping another Column
      B
2.5   2
12.6  5
4.8   8

### Deleting the Row

In [19]:
df = pd.DataFrame(data=np.array([[1, 2, 3], 
                                 [4, 5, 6], 
                                 [7, 8, 9], 
                                 [7, 8, 10]]), 
                  index= [2.5, 12.6, 4.8, 4.8], 
                  columns=[48, 49, 50])
                  

# Check out your DataFrame `df`
print(df)
print("\n")
# Drop the duplicates in `df`
df=pd.DataFrame(data=df.drop_duplicates([48], keep='last'))
print(df)

print("\nDrop the index at position 1")
print(df.drop(df.index[1]))

      48  49  50
2.5    1   2   3
12.6   4   5   6
4.8    7   8   9
4.8    7   8  10


      48  49  50
2.5    1   2   3
12.6   4   5   6
4.8    7   8  10

Drop the index at position 1
     48  49  50
2.5   1   2   3
4.8   7   8  10

### Renaming the Index or Coulmns of Dataframe

In [20]:
df = pd.DataFrame(data=np.array([[1, 2, 3], 
                                 [4, 5, 6], 
                                 [7, 8, 9], 
                                 [7, 8, 10]]), 
                  index= [2.5, 12.6, 4.8, 4.8], 
                  columns=[48, 49, 50])

print(df)
# Define the new names of your columns
newcols = {
    48: 'A', 
    49: 'B', 
    50: 'C'
}

# Use `rename()` to rename your columns
df.rename(columns=newcols, inplace=True)

print("After Renaming the Columns\n", df)

# Rename your index
df=pd.DataFrame(data=df.rename(index={2.5: 'a'}))

print("After Renaming the Index\n", df)

      48  49  50
2.5    1   2   3
12.6   4   5   6
4.8    7   8   9
4.8    7   8  10
After Renaming the Columns
       A  B   C
2.5   1  2   3
12.6  4  5   6
4.8   7  8   9
4.8   7  8  10
After Renaming the Index
       A  B   C
a     1  2   3
12.6  4  5   6
4.8   7  8   9
4.8   7  8  10

### Reading from CSV Files

In [21]:
vehicle=pd.read_csv("D:\onedrive\Python\dataset\Vehicle.csv")
print(vehicle)

     Comp  Circ  D.Circ  Rad.Ra  Pr.Axis.Ra  Max.L.Ra  Scat.Ra  Elong  \
0      95    48      83     178          72        10      162     42
1      91    41      84     141          57         9      149     45
2     104    50     106     209          66        10      207     32
3      93    41      82     159          63         9      144     46
4      85    44      70     205         103        52      149     45
5     107    57     106     172          50         6      255     26
6      97    43      73     173          65         6      153     42
7      90    43      66     157          65         9      137     48
8      86    34      62     140          61         7      122     54
9      93    44      98     197          62        11      183     36
10     86    36      70     143          61         9      133     50
11     90    34      66     136          55         6      123     54
12     88    46      74     171          68         6      152     43
13     89    42      85     144          58        10      152     44
14     94    49      79     203          71         5      174     37
15     96    55     103     201          65         9      204     32
16     89    36      51     109          52         6      118     57
17     99    41      77     197          69         6      177     36
18    104    54     100     186          61        10      216     31
19    101    56     100     215          69        10      208     32
20     84    47      75     153          64         6      154     43
21     84    37      53     121          59         5      123     55
22     94    43      64     173          69         7      150     43
23     87    39      70     148          61         7      143     46
24     99    53     105     219          66        11      204     32
25     85    45      80     154          64         9      147     45
26     83    36      54     119          57         6      128     53
27    107    54      98     203          65        11      218     31
28    102    45      85     193          64         6      192     33
29     80    38      63     129          55         7      146     46
..    ...   ...     ...     ...         ...       ...      ...    ...
816    90    48      85     157          64        11      161     43
817   104    53     108     204          64        11      220     31
818    95    43      96     202          65        10      189     35
819    93    42      98     192          63         9      185     36
820    87    38      71     123          53         8      137     49
821   104    56      96     231          74        11      220     30
822    95    41      82     170          65         9      145     46
823   105    54     105     213          67        10      200     33
824   106    55      96     196          60        12      221     30
825    86    39      84     149          57         8      156     43
826    95    49      92     193          62        10      178     37
827    99    57     100     177          54        13      224     30
828    89    42      66     125          53         7      131     51
829    95    49      82     139          56        11      159     43
830    97    37      70     173          66         7      151     43
831   100    47      70     185          70         7      162     40
832   108    49     109     204          61        11      212     31
833    92    46      83     154          56         6      160     41
834    82    36      51     114          53         4      135     50
835   111    58     105     183          51         6      265     26
836    87    45      66     139          58         8      140     47
837    94    46      77     169          60         8      158     42
838    95    43      76     142          57        10      151     44
839    90    44      72     157          64         8      137     48
840    93    34      66     140          56         7      130     51
841    93    39      87     183          64         8      169     40
842    89    46      84     163          66        11      159     43
843   106    54     101     222          67        12      222     30
844    86    36      78     146          58         7      135     50
845    85    36      66     123          55         5      120     56

     Pr.Axis.Rect  Max.L.Rect  Sc.Var.Maxis  Sc.Var.maxis  Ra.Gyr  Skew.Maxis  \
0              20         159           176           379     184          70
1              19         143           170           330     158          72
2              23         158           223           635     220          73
3              19         143           160           309     127          63
4              19         144           241           325     188         127
5              28         169           280           957     264          85
6              19         143           176           361     172          66
7              18         146           162           281     164          67
8              17         127           141           223     112          64
9              22         146           202           505     152          64
10             18         130           153           266     127          66
11             17         118           148           224     118          65
12             19         148           180           349     192          71
13             19         144           173           345     161          72
14             21         154           196           465     206          71
15             23         166           227           624     246          74
16             17         129           137           206     125          80
17             21         139           202           485     151          72
18             24         173           225           686     220          74
19             24         169           227           651     223          74
20             19         145           175           354     184          75
21             17         125           141           221     133          82
22             19         142           169           344     177          68
23             18         136           164           307     141          69
24             23         165           221           623     224          68
25             19         148           169           324     174          71
26             18         125           143           238     139          82
27             25         167           229           696     216          72
28             22         146           217           570     163          76
29             19         130           168           314     158          83
..            ...         ...           ...           ...     ...         ...
816            20         167           175           375     186          74
817            25         172           226           707     203          71
818            22         143           217           534     166          71
819            22         138           206           508     173          70
820            18         127           158           277     145          75
821            25         172           223           713     218          73
822            19         145           163           314     140          64
823            23         163           214           597     214          68
824            25         173           225           717     214          72
825            20         133           185           358     157          74
826            21         154           200           478     171          64
827            25         188           223           726     213          72
828            18         144           162           254     162          73
829            20         162           173           365     185          75
830            19         129           167           346     119          65
831            20         153           179           406     172          68
832            24         159           229           665     215          71
833            20         148           185           382     184          71
834            18         126           150           268     144          86
835            29         174           285          1018     255          85
836            18         148           168           294     175          73
837            20         148           181           373     181          67
838            19         149           173           339     159          71
839            18         144           159           283     171          65
840            18         120           151           251     114          62
841            20         134           200           422     149          72
842            20         159           173           368     176          72
843            25         173           228           721     200          70
844            18         124           155           270     148          66
845            17         128           140           212     131          73

     Skew.maxis  Kurt.maxis  Kurt.Maxis  Holl.Ra Class
0             6          16         187      197   van
1             9          14         189      199   van
2            14           9         188      196  saab
3             6          10         199      207   van
4             9          11         180      183   bus
5             5           9         181      183   bus
6            13           1         200      204   bus
7             3           3         193      202   van
8             2          14         200      208   van
9             4          14         195      204  saab
10            2          10         194      202   van
11            5          26         196      202  saab
12            5          11         189      195   bus
13            8          13         187      197   van
14            6           2         197      199   bus
15            6           2         186      194  opel
16            2          14         181      185   van
17            4          10         198      199   bus
18            5          11         185      195  saab
19            6           5         186      193  opel
20            0           3         185      192   bus
21            7           1         179      183   van
22            9           1         199      206   bus
23            1           2         192      199   bus
24            0           6         191      201  saab
25            1           4         188      199   van
26            6           3         179      183  saab
27            1          28         187      199  saab
28            6           7         195      193   bus
29            9          20         180      185  saab
..          ...         ...         ...      ...   ...
816           3          16         185      195   van
817          14          30         189      203  saab
818           6          27         190      197  opel
819          10          21         189      197  saab
820           0           9         181      186  saab
821           6          16         186      195  opel
822           4           8         199      207   van
823          10          20         190      198  opel
824           9          13         186      196  opel
825           0          23         183      190  opel
826           2           0         198      206  opel
827           4           7         185      198  opel
828          10          17         188      191   van
829           7          10         182      191   van
830           0          16         201      208   bus
831           9           6         200      205   bus
832          16          11         190      199  saab
833          10           5         186      191  saab
834          15           4         181      182  saab
835           4           8         181      183   bus
836           3          12         188      196   van
837          12           2         193      199  saab
838           2          23         187      200   van
839           9           4         196      203   van
840           5          29         201      207  opel
841           7          25         188      195  saab
842           1          20         186      197   van
843           3           4         187      201  saab
844           0          25         190      195  saab
845           1          18         186      190   van

[846 rows x 19 columns]

### Displaying the top and bottom rows of the data

In [70]:
vehicle.head(6)

,Comp,Circ,D.Circ,Rad.Ra,Pr.Axis.Ra,Max.L.Ra,Scat.Ra,Elong,Pr.Axis.Rect,Max.L.Rect,Sc.Var.Maxis,Sc.Var.maxis,Ra.Gyr,Skew.Maxis,Skew.maxis,Kurt.maxis,Kurt.Maxis,Holl.Ra,Class
0,95,48,83,178,72,10,162,42,20,159,176,379,184,70,6,16,187,197,van
1,91,41,84,141,57,9,149,45,19,143,170,330,158,72,9,14,189,199,van
2,104,50,106,209,66,10,207,32,23,158,223,635,220,73,14,9,188,196,saab
3,93,41,82,159,63,9,144,46,19,143,160,309,127,63,6,10,199,207,van
4,85,44,70,205,103,52,149,45,19,144,241,325,188,127,9,11,180,183,bus
5,107,57,106,172,50,6,255,26,28,169,280,957,264,85,5,9,181,183,bus

In [71]:
vehicle.tail(4)

,Comp,Circ,D.Circ,Rad.Ra,Pr.Axis.Ra,Max.L.Ra,Scat.Ra,Elong,Pr.Axis.Rect,Max.L.Rect,Sc.Var.Maxis,Sc.Var.maxis,Ra.Gyr,Skew.Maxis,Skew.maxis,Kurt.maxis,Kurt.Maxis,Holl.Ra,Class
842,89,46,84,163,66,11,159,43,20,159,173,368,176,72,1,20,186,197,van
843,106,54,101,222,67,12,222,30,25,173,228,721,200,70,3,4,187,201,saab
844,86,36,78,146,58,7,135,50,18,124,155,270,148,66,0,25,190,195,saab
845,85,36,66,123,55,5,120,56,17,128,140,212,131,73,1,18,186,190,van

### Displaying underlying numpy data

vehicle.index

In [72]:
vehicle.columns

Index(['Comp', 'Circ', 'D.Circ', 'Rad.Ra', 'Pr.Axis.Ra', 'Max.L.Ra', 'Scat.Ra',
       'Elong', 'Pr.Axis.Rect', 'Max.L.Rect', 'Sc.Var.Maxis', 'Sc.Var.maxis',
       'Ra.Gyr', 'Skew.Maxis', 'Skew.maxis', 'Kurt.maxis', 'Kurt.Maxis',
       'Holl.Ra', 'Class'],
      dtype='object')

In [26]:
vehicle.values

array([[95, 48, 83, ..., 187, 197, 'van'],
       [91, 41, 84, ..., 189, 199, 'van'],
       [104, 50, 106, ..., 188, 196, 'saab'],
       ...,
       [106, 54, 101, ..., 187, 201, 'saab'],
       [86, 36, 78, ..., 190, 195, 'saab'],
       [85, 36, 66, ..., 186, 190, 'van']], dtype=object)

### Describing the statistics of the data

In [73]:
vehicle.describe()

,Comp,Circ,D.Circ,Rad.Ra,Pr.Axis.Ra,Max.L.Ra,Scat.Ra,Elong,Pr.Axis.Rect,Max.L.Rect,Sc.Var.Maxis,Sc.Var.maxis,Ra.Gyr,Skew.Maxis,Skew.maxis,Kurt.maxis,Kurt.Maxis,Holl.Ra
count,846.000000,846.000000,846.000000,846.000000,846.000000,846.000000,846.000000,846.000000,846.000000,846.000000,846.000000,846.000000,846.00000,846.000000,846.000000,846.000000,846.000000,846.000000
mean,93.678487,44.861702,82.088652,168.940898,61.693853,8.567376,168.839243,40.933806,20.582742,147.998818,188.625296,439.911348,174.70331,72.462175,6.377069,12.599291,188.932624,195.632388
std,8.234474,6.169866,15.771533,33.472183,7.888251,4.601217,33.244978,7.811560,2.592138,14.515652,31.394837,176.692614,32.54649,7.486974,4.918353,8.931240,6.163949,7.438797
min,73.000000,33.000000,40.000000,104.000000,47.000000,2.000000,112.000000,26.000000,17.000000,118.000000,130.000000,184.000000,109.00000,59.000000,0.000000,0.000000,176.000000,181.000000
25%,87.000000,40.000000,70.000000,141.000000,57.000000,7.000000,146.250000,33.000000,19.000000,137.000000,167.000000,318.250000,149.00000,67.000000,2.000000,5.000000,184.000000,190.250000
50%,93.000000,44.000000,80.000000,167.000000,61.000000,8.000000,157.000000,43.000000,20.000000,146.000000,178.500000,364.000000,173.00000,71.500000,6.000000,11.000000,188.000000,197.000000
75%,100.000000,49.000000,98.000000,195.000000,65.000000,10.000000,198.000000,46.000000,23.000000,159.000000,217.000000,587.000000,198.00000,75.000000,9.000000,19.000000,193.000000,201.000000
max,119.000000,59.000000,112.000000,333.000000,138.000000,55.000000,265.000000,61.000000,29.000000,188.000000,320.000000,1018.000000,268.00000,135.000000,22.000000,41.000000,206.000000,211.000000

### Basic Operations on data

In [22]:
df.T # Transpose of data

   a  12.6  4.8  4.8
A  1     4    7    7
B  2     5    8    8
C  3     6    9   10

In [75]:
df.sort_index(axis=1, ascending=False)  #Sorting of Columns

       C  B  A
a      3  2  1
12.6   6  5  4
4.8    9  8  7
4.8   10  8  7

In [76]:
df.sort_values(by='B') #Sorting of rows by Column

      A  B   C
a     1  2   3
12.6  4  5   6
4.8   7  8   9
4.8   7  8  10

### Selecting the Data

#Selecting a single column, which yields a Series, equivalent to df.A
print(df['A'])
print("\n Same As Above\n",df.A)

### Selecting via [], which slices the rows.

In [23]:
vehicle[0:3]

,Comp,Circ,D.Circ,Rad.Ra,Pr.Axis.Ra,Max.L.Ra,Scat.Ra,Elong,Pr.Axis.Rect,Max.L.Rect,Sc.Var.Maxis,Sc.Var.maxis,Ra.Gyr,Skew.Maxis,Skew.maxis,Kurt.maxis,Kurt.Maxis,Holl.Ra,Class
0,95,48,83,178,72,10,162,42,20,159,176,379,184,70,6,16,187,197,van
1,91,41,84,141,57,9,149,45,19,143,170,330,158,72,9,14,189,199,van
2,104,50,106,209,66,10,207,32,23,158,223,635,220,73,14,9,188,196,saab

In [24]:
vehicle[10:15]

,Comp,Circ,D.Circ,Rad.Ra,Pr.Axis.Ra,Max.L.Ra,Scat.Ra,Elong,Pr.Axis.Rect,Max.L.Rect,Sc.Var.Maxis,Sc.Var.maxis,Ra.Gyr,Skew.Maxis,Skew.maxis,Kurt.maxis,Kurt.Maxis,Holl.Ra,Class
10,86,36,70,143,61,9,133,50,18,130,153,266,127,66,2,10,194,202,van
11,90,34,66,136,55,6,123,54,17,118,148,224,118,65,5,26,196,202,saab
12,88,46,74,171,68,6,152,43,19,148,180,349,192,71,5,11,189,195,bus
13,89,42,85,144,58,10,152,44,19,144,173,345,161,72,8,13,187,197,van
14,94,49,79,203,71,5,174,37,21,154,196,465,206,71,6,2,197,199,bus

### Selection By Label

In [79]:
#For Getting Cross Section using Labels
vehicle['Comp']

0       95
1       91
2      104
3       93
4       85
5      107
6       97
7       90
8       86
9       93
10      86
11      90
12      88
13      89
14      94
15      96
16      89
17      99
18     104
19     101
20      84
21      84
22      94
23      87
24      99
25      85
26      83
27     107
28     102
29      80
      ...
816     90
817    104
818     95
819     93
820     87
821    104
822     95
823    105
824    106
825     86
826     95
827     99
828     89
829     95
830     97
831    100
832    108
833     92
834     82
835    111
836     87
837     94
838     95
839     90
840     93
841     93
842     89
843    106
844     86
845     85
Name: Comp, Length: 846, dtype: int64

In [80]:
#For Selecting multiple Columns
df.loc[:,['A','B']]

      A  B
a     1  2
12.6  4  5
4.8   7  8
4.8   7  8

### Selection By Position

In [81]:
#Select via the position of the passed integers
df.iloc[3]

A     7
B     8
C    10
Name: 4.8, dtype: int32

In [82]:
#By integer slices, acting similar to numpy/python
vehicle.iloc[3:5,0:2]

   Comp  Circ
3    93    41
4    85    44

In [83]:
#By lists of integer position locations, similar to the numpy/python style
vehicle.iloc[[1,2,4],[0,2]]

   Comp  D.Circ
1    91      84
2   104     106
4    85      70

In [84]:
#For slicing rows explicitly
df.iloc[1:3,:]

      A  B  C
12.6  4  5  6
4.8   7  8  9

In [85]:
#For slicing cols explicitly
df.iloc[:,1:4]

      B   C
a     2   3
12.6  5   6
4.8   8   9
4.8   8  10

### Conditional Selection

In [86]:
df[df.A >= 4]

      A  B   C
12.6  4  5   6
4.8   7  8   9
4.8   7  8  10

In [87]:
#Selecting values from a DataFrame where a boolean condition is met.
df[df>0]

      A  B   C
a     1  2   3
12.6  4  5   6
4.8   7  8   9
4.8   7  8  10

### Creating a Series by passing a list of values, letting pandas create a default integer index

In [88]:
s = pd.Series([1,3,5,np.nan,6,8])
print(s)
dates = pd.date_range('20130101',periods=6)
print(dates)
print (dates.year, dates.month, dates.day)

0    1.0
1    3.0
2    5.0
3    NaN
4    6.0
5    8.0
dtype: float64
DatetimeIndex(['2013-01-01', '2013-01-02', '2013-01-03', '2013-01-04',
               '2013-01-05', '2013-01-06'],
              dtype='datetime64[ns]', freq='D')
Int64Index([2013, 2013, 2013, 2013, 2013, 2013], dtype='int64') Int64Index([1, 1, 1, 1, 1, 1], dtype='int64') Int64Index([1, 2, 3, 4, 5, 6], dtype='int64')

### Creating Dataframe using dictionary

In [43]:
df = pd.DataFrame(np.random.randn(6,4), index=dates, columns=list('ABCD'))
df

                   A         B         C         D
2013-01-01  0.755834  0.404793  1.822382 -0.955992
2013-01-02 -1.645617  1.569196  1.467623 -1.014437
2013-01-03 -0.068905 -0.619607  0.528225 -0.064088
2013-01-04 -0.681733  0.539411 -0.243706 -0.644320
2013-01-05  0.517208  1.782710  0.398762  0.038437
2013-01-06  0.897487 -0.755765  0.194728  0.531924